body{
    background-color: #e6d7ba;
}

.title{
    font-size: 120px;
    color: #c9d843;
    text-align: center;
    
}

  
.kainusi {
  text-align: left;
  margin-left: 40px;
  margin-top: 50px;
}

.left {
  width: 30% ;
  float: left;
  margin-right: 10px;

}

.img{
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 20px;
}
.kainusi-list ul li{
  list-style: none;
  font-size: 50px;
  margin-bottom: 30px;
}

.clear {
clear: both;
}

.botann{
  margin-top: 200px;
  text-align: center;
  display: block;

}

a:hover {
  color: #fff;
  background-color: #cccf26;
}

.footer{
  background-color: #c7ec44b4;
  color: #fff;
  height: 50px;
  width: 100%;
  padding: 40px 0px;
  margin-top: 350px;
}

.footer-logo {
  float: left;
  font-size: 32px;
  margin-left: 120px;
}  
  


  /*
WEBフォントで「ふい字(HuiFontP109)」 ver130717
http://customtemplate.blog112.fc2.com/blog-entry-143.html
*/
@font-face{
    font-family:'HuiFontP109';
    src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot');
    src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot?#iefix') format('embedded-opentype'),
    url('https://dl.dropboxusercontent.com/s/7pscemjdvt0wyiq/HuiFontP109.woff') format('woff'),
    url('https://dl.dropboxusercontent.com/s/0w9uuopxrns8ehi/HuiFontP109.ttf') format('truetype'),
    url('https://dl.dropboxusercontent.com/s/xnnsbxtz8o6d98i/HuiFontP109.svg#HuiFontP109') format('svg');
    }
    body,input,textarea{font-family:'HuiFontP109';font-size:40px;
    }
    